<ion-header>
  <ion-toolbar color="success">
    <ion-grid>
      <ion-row>
        <ion-col size="2">
          <ion-buttons>
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
        </ion-col>
        <ion-col size="8">
          <ion-title class="ion-padding-top">
            Ecomerce
          </ion-title>
        </ion-col>
        <ion-col size="2">
          <ion-button color="success" [routerLink]="['/chech']">
            <ion-icon name="logo-dribbble"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="12">
          <ion-searchbar placeholder="Buscar Ecomerce" [(ngModel)]="searchtxt" (input)="search()"></ion-searchbar>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager="false" [options]="slideOptsOne" #slideWithNav
    (ionSlideDidChange)="SlideDidChange(sliderOne,slideWithNav)">
    <ion-slide *ngFor="let s of sliderOne.slidesItems">
      <!-- <img src="./assets/imagenes/dilisap1.png"> -->
      <ion-segment>
        <ion-segment-button checked>
            <ion-label>{{ s.titulo }}</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-slide>
  </ion-slides>
  <ion-grid *ngFor="let item of listhome">
    <ion-row>
      <ion-col>
        <ion-text>
          <h4>{{ item.titulo }}</h4>
        </ion-text>
      </ion-col>
      <ion-col size="3">
        <ion-text>
          <h6 [routerLink]="['/categoria']" class="mouse">Más</h6>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6" *ngFor="let off of item.listado" [routerLink]="['/productoview', off.id]">
        <ion-grid>
          <ion-row>
            <ion-img [src]=" off.foto"></ion-img>
            <ion-col size="12">
              <h6 class="text">
                {{ off.codigo + " - " + off.titulo }}
              </h6>
              <p class="text">{{ "Empresa: " + (off.empresa || 'demo')}}</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<!-- <div>
    <ion-tabs>
        <ion-tab-bar slot="bottom">
          <ion-tab-button tab="schedule">
            <ion-icon name="calendar"></ion-icon>
            <ion-label>Schedule</ion-label>
            <ion-badge>6</ion-badge>
          </ion-tab-button>
      
          <ion-tab-button tab="speakers">
            <ion-icon name="contacts"></ion-icon>
            <ion-label>Speakers</ion-label>
          </ion-tab-button>
      
          <ion-tab-button tab="map">
            <ion-icon name="map"></ion-icon>
            <ion-label>Map</ion-label>
          </ion-tab-button>
      
          <ion-tab-button tab="about">
            <ion-icon name="information-circle"></ion-icon>
            <ion-label>About</ion-label>
          </ion-tab-button>
        </ion-tab-bar>
      </ion-tabs>
</div> -->