<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Crear Prodcutos
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
      <div padding>
          <ion-grid>
              <ion-row>
                <ion-col>
                    <ion-label>Nombre del Producto</ion-label>
                    <ion-input type="text" [(ngModel)]="data.titulo" inputmode="text"></ion-input>
                </ion-col>
              </ion-row>
              <ion-row>
                  <ion-col>
                      <ion-label>Precio</ion-label>
                      <ion-input placeholder="" [(ngModel)]="data.precio"></ion-input>
                  </ion-col>
              </ion-row>
              <ion-row>
                  <ion-col>
                      <ion-label>Descripcion</ion-label>
                      <ion-input placeholder="" [(ngModel)]="data.descripcion"></ion-input>
                  </ion-col>
              </ion-row>
              <ion-row>
                  <ion-col>
                      <ion-button color="success"(click)="submit()">Guardar</ion-button>
                  </ion-col>
              </ion-row>

          </ion-grid>
      </div>
  </ion-content>
  