<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Listado de Productos
      </ion-title>
      <ion-button color="primary" slot="end" (click)="open_form(false)">
          Crear
      </ion-button>
    </ion-toolbar>
  </ion-header>
  <ion-content>
      <ion-row>
          <ion-col size="6" *ngFor="let off of list_product">
              <ion-card>
                  <ion-img [src]=" off.foto "></ion-img>
                    <ion-card-header>
                        <ion-card-subtitle>{{ off.titulo }}</ion-card-subtitle>
                    </ion-card-header>
                  <ion-card-content>
                    {{ off.tipo }}
                  </ion-card-content>
              </ion-card>
          </ion-col>
        </ion-row>
  </ion-content>
  
  